%li.entry.hoverable{:class => entry.description}
  .votes
    %span.count= entry.votes.count
    = ajax_link :create, [entry, Vote], :text => '+', :class => 'vote child', :format => :js

  = render :partial => 'tracks/index_entry', :locals => {:track => entry.track}
