%li.entry.hoverable{:class => entry.description}
  .votes
    %span.count= entry.votes
    = ajax_link :vote, [entry], :text => '+', :class => 'vote child', :format => :js
  = ajax_link :play, [entry], :text => '▶', :class => 'play child', :format => :js

  = render :partial => 'tracks/index_entry', :locals => {:track => entry.track}
