#now_playing
  %ul.entries
    - if Entry.now_playing.nil?
      %li.entry
        .name There's nothing playing right now.
    - else
      = render :partial => 'index_entry', :locals => {:entry => Entry.now_playing}

#search
  = render :partial => 'songs/suggest'

#queue
  %ul.entries
    - @entries.each do |entry|
      = render :partial => 'index_entry', :locals => {:entry => entry}
