* {
  margin: 0;
  padding: 0;
}
body {
  margin: 2em;
  background-color: #ddd;
  font: 13px Helvetica, sans-serif;
}
a {
  color: #826;
}
li.track a {
  text-decoration: none;
}
li.track.playing {
  font-weight: bold;
}
li.track.playing:before {
  content: '▶';
}
a.track:hover {
  border-bottom: #a48 1px solid;
}
li {
  list-style-type: none;
}
h1 {
  margin: 2em 0 1em 0;
}

#world {
  min-width: 48em;
}

#main {
  overflow: hidden;
  margin-bottom: 4em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 2em;
  background-color: #bbb;
}

#search {
  width: 32em;
  float: left;
}
#queue {
  margin-left: 33em;
}

#queue ul.entries {
  border-top: #999 1px dashed;
  border-bottom: #999 1px dashed;
}

#suggest_track {
  font: 2.5em Georgia;
  width: 96%;
  color: #338;
  margin-bottom: 1em;
  padding: 0.2em 0.1em;
  border: #777 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#queue li.track {
  padding: 0.4em 0.2em;
  display: block;
  overflow: hidden;
}

#queue li.track:hover {
  background-color: #ccc;
}

#queue li.track .name,
#queue li.track .artist,
#queue li.track .album,
#queue li.track .year {
  padding: 0;
}

#queue li.track .name {
  font-size: 18px;
}

#queue li.track .artist {
  color: #555;
  clear: both;
}

#queue li.track .album {
  font-size: 14px;
  color: #444;
}

li.track .library_name {
  float: right;
}

.ac_results {
  width: 32em;
  padding: 0.4em;
  position: absolute;
}

.votes {
  float: right;
  color: #338;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0.4em;
  line-height: 1;
}
