/* @override http://dukejour.hat.local/stylesheets/styles.css?1243259845 */

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 2em;
  background-color: #ddd;
  font: 13px Helvetica, sans-serif;
}
a {
  color: #d75483;
}
li.entry a {
  text-decoration: none;
}
.play {
  color: #00883e;
}
li.entry.playing {
  font-weight: bold;
}
li.entry.playing:before {
  content: '▶';
}
a.track:hover {
  border-bottom: #a48 1px solid;
}
li {
  list-style-type: none;
}
h1 {
  margin: 2em 0 1em 0;
}

#main {
  margin-bottom: 4em;
  width: 45em;
  margin: 0 auto;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 2em;
  background-color: #bbb;
}

#suggest_track {
  font: bold 2.5em Helvetica;
  width: 17.8em;
  color: #894052;
  padding: 0.15em 0.1em;
  border: #777 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#queue li.entry {
  padding: 0.4em 0.2em;
  display: block;
  overflow: hidden;
}

#queue li.entry:hover {
  background-color: #d4d4d4;
}

#queue li.entry .name,
#queue li.entry .artist,
#queue li.entry .album,
#queue li.entry .year {
  padding: 0;
}

#queue li.entry .name {
  font-size: 18px;
}

#queue li.entry .artist {
  color: #555;
  clear: both;
}

#queue li.entry .album {
  font-size: 14px;
  color: #444;
}

li.entry .library_name {
  float: right;
}

.votes {
  float: right;
  color: #e86e00;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0.4em;
  line-height: 1;
}

.ac_results {
  width: 32em;
  position: absolute;
}

.ac_results ul {
  margin-top: 0.4em;
  border-left: #bbb 2px solid;
}

.ac_results li.track {
  margin: 0.2em;
  font-size: 11px;
  overflow: hidden;
}

.ac_results li.track:hover {
  cursor: pointer;
  background-color: #ccc;
}

.ac_results li.track .artist,
.ac_results li.track .album,
.ac_results li.track .name {
  padding-right: 1em;
}
