<% if @we_can_edit && params[:attribute] %>
  <div class="r">
    <% if editing? @record %>
      <%= submit_to_remote("#{target_elem_id}_submit", opts[:text] || 'Save', :url => update_record_path(@transfer, :attribute => opts[:attribute])) %>
      <div class="spin"></div>
      <%= link_to_remote('cancel', :url => record_path(@transfer, :attribute => opts[:attribute])) %>
    <% else %>
      <%= link_to_remote(opts[:text] || 'edit', :url => edit_record_path(@transfer, :attribute => opts[:attribute])) %>
    <% end %>
  </div>
<% end %>
