<span id="plug" class="tab" style="display: none;">
  Want your own Corkboard?&nbsp;&nbsp;<strong><%=
    email_to Cfg[:mail_sales],
      :subject => "Corkboard Registration",
      :body => "Please leave this referral info at the bottom of the message: #{@current_board.domain}#{request.request_uri}/#{current_user.id}",
      :text => 'Enquire today.'
  %></strong>
</span>

<%= javascript_tag %Q{
  $(function() {
    setTimeout("$('#plug').Appear(700);", 2500);
  });
} %>
