.statuses
  .spinner{:style => 'display: none'}= image_tag 'spinner.gif'
  / .success{:style => 'display: none'}= image_tag 'green_tick.png'
  / .failure{:style => 'display: none'}= image_tag 'red_cross.png'
