.info
  - @libraries = Library.active.kick
  serving
  %span= pluralize @libraries.sum {|l| l.tracks.count }, 'track'
  (
  %span>= @libraries.sum {|l| l.duration }.xsecs
  ) from
  %span= pluralize @libraries.count, 'library'
