<h1>Listing libraries</h1>

<table>
  <tr>
  </tr>

<% @libraries.each do |library| %>
  <tr>
    <td><%= link_to 'Show', library %></td>
    <td><%= link_to 'Edit', edit_library_path(library) %></td>
    <td><%= link_to 'Destroy', library, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New library', new_library_path %>